
/* regoe generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    color: #808080b8;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus, textarea:focus{
    outline: none;
}


/* Colonna con User e Contatti */
.colContacts{
    width: 30%;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #8080804f;
}

/* Barre superiori */
.colContacts .user, .colConversation .contactConversation{
    width: 100%;
    height: 50px;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.colContacts .user img, .colConversation .contactConversation img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* barre di input */
.colContacts .search, .colConversation .inputContainer{
    width: 100%;
    height: 50px;
    background-color: rgb(240,240,240);
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.colContacts .search{
    position: relative;
}

.colContacts .search input, .colConversation .inputContainer textarea{
    width: 100%;
    border-radius: 50px;
    line-height: 35px;
    border: none;
}

.colContacts .search input{
    padding-left: 50px;
}

.colContacts .search i{
    position: absolute;
    left: 25px;
}

/* elenco contatti */
.colContacts .contacts{
    cursor: pointer;
}

.colContacts .contacts .contact{
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 10px;
    border-bottom: 1px solid #8080804f;
}
.colContacts .contacts .contact:hover{
    background-color: lightgrey;
}
.colContacts .contacts .contact img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.colContacts .contacts .contact .contactInfo{
    flex-grow: 1;
}

.colContacts .contacts .contactInfo .msgPreview{
    color: rgb(100,100,100);
}

.colContacts .contactInfo .noMsg{
    color: red;
}

/* Colonna con Chat */
.colConversation{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* contenuto chat aLL'avvio */
.unselcted{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(238,238,238);
}

.unselcted span, .unselcted h2{
    margin: 20px 0;
    width: 50%;
    text-align: center;
}

/* Barra informazioni utente attivo */
.colConversation .contactConversation{
    justify-content: space-between;
}

.contactConversation>div{
    display: flex;
    align-items: center;
}

.contactConversation .options i{
    margin: 0 10px;
}

.contactConversation .options i:hover, .search i:hover{
    cursor: pointer;
}

/* Box con chat */
.colConversation .conversation{
    background-image:url(../img/sfondo.png);
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.colConversation .conversation div:first-child{
    margin-top: auto;
}

.colConversation .conversation .msg{
    margin: 2px 0;
}

.colConversation .conversation .msg>span{
    border-radius: 10px;
    display: flex;
    max-width: 80%;
    word-break: break-word;
}

/* Menù per eliminazione messaggio */
.colConversation .msg .msgOptions{
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
}

.colConversation .msg .down{
    position: absolute;
    right: 12px;
    bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.colConversation .msg .menu{
    display: none;
    position: absolute;
    z-index: 900;
    width: 140px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
}

.colConversation .msg .sent .menu{
    top: 20px;
    right: 10px;
    cursor: pointer;
}

.colConversation .msg .msgTime{
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.colConversation .msg .received .menu{
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
}

.colConversation .menu >span{
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-size: 15px;
}

.colConversation .menu >span:hover{
    background-color: lightgrey;
}

/* Barra di input della chat */
.colConversation .inputContainer{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.colConversation .inputContainer i{
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.colConversation .inputContainer textarea{
    flex-grow: 1;
    margin: 0 5px;
    padding: 10px 20px;
    line-height: normal;
    resize: none;
    overflow-y: hidden;
    text-transform: capitalize;
}

/* classi per vue */
.active{
    background-color: lightgrey;
}

.received{
    background-color: rgba(255,255,255,0.7);
    float: left;
    position: relative;
}

.sent{
    background-color: rgba(229,255,191,0.7);
    float: right;
    position: relative;
}

.received, .sent{
    padding: 10px 60px 10px 10px;
    position: relative;
}

.colConversation .msg .menu.show{
    display: block;
}
