*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* sezione sx */
.colContact{
    width: 30%;
    height: 100vh;
    background-color: white;
    border-right: 1px solid darkgrey;
}

.colContact .user, .colConversation .contactConversation{
    width: 100%;
    height: 50px;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.colContact .user img, .colConversation .contactConversation img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.colContact .search, .colConversation .inputContainer{
    width: 100%;
    height: 50px;
    background-color: rgb(240,240,240);
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.colContact .search{
    position: relative;
}

.colContact .search input, .colConversation .inputContainer input{
    width: 100%;
    border-radius: 50px;
    line-height: 35px;
    border: none;
}

.colContact .search input{
    padding-left: 50px;
}

.colContact .search i{
    position: absolute;
    left: 25px;
}

.colContact .contacts{
    cursor: pointer;
}

.colContact .contacts .contact{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.colContact .contacts .contact:hover{
    background-color: lightgrey;
}
.colContact .contacts .contact img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.colContact .contacts .contact .contactInfo{
    flex-grow: 1;
}

/* sezione dx */
.colConversation{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.unselcted{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(238,238,238);
}

.unselcted span, .unselcted h2{
    margin: 20px 0;
    width: 50%;
    text-align: center;
}
.colConversation .contactConversation{
    justify-content: space-between;
}

.contactConversation>div{
    display: flex;
    align-items: center;
}

.contactConversation .options i{
    margin: 0 10px;
}

.contactConversation .options i:hover{
    cursor: pointer;
}

.colConversation .conversation{
    background-image:url(../img/sfondo.png);
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

.colConversation .conversation .msg{
    padding: 10px;
}

.colConversation .conversation .msg span{
    border-radius: 30px;
}

.colConversation .inputContainer{
height: 70px;
display: flex;
align-items: center;
}

.colConversation .inputContainer i{
    font-size: 20px;
    margin: 0 5px;
}

.colConversation .inputContainer input{
    flex-grow: 1;
    margin: 0 5px;
    padding: 0 10px;
}

/* classi per vue */
.received{
    background-color: rgba(255,255,255,0.7);
    float: left;
    position: relative;
}

.sent{
    background-color: rgba(229,255,191,0.7);
    float: right;
}

.received, .sent{
    padding: 15px 60px 15px 15px;
    position: relative;
}

.msg .msgTime{
    position: absolute;
    right: 25px;
    bottom: 5px;
    font-size: 12px;
}
