<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title></title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div class="colContact">
                <div class="user">
                    <img src="img/johnny.png">
                </div>
                <div class="search">
                    <input type="text" placeholder="cerca o inizia una nuova chat">
                    <i class="fas fa-search"></i>
                </div>
                <div class="contacts">
                    <div v-for="(contact, ind) in contactsArray" class="contact" @click="getContact(ind)">
                        <img :src="'img/'+ contact.avatar + '.png'">
                        <div class="contactInfo">
                            <h3>{{contact.name}}</h3>
                            <span>{{contact.messages[contact.messages.length - 1].text.slice(0,25)}} </span><span v-if="contact.messages[contact.messages.length - 1].text.length > 25">...</span>
                        </div>
                        <div class="timeLastMsg">
                            <span>{{contact.messages[contact.messages.length -1].time.slice(0,5)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colConversation">
                <template v-if="activeContact">
                    <div class="contactConversation">
                        <img :src="'img/'+ activeContact.avatar + '.png'">
                        <h3>{{activeContact.name}}</h3>
                    </div>
                    <div class="conversation">
                        <div v-for="message in activeContact.messages" class="msg" >
                            <span :class="(message.status == 'sent') ? 'sent' : 'received'">
                                {{message.text}}
                                <span class="msgTime">{{message.time.slice(0,5)}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="inputContainer">
                        <i class="fas fa-smile"></i>
                        <i class="fas fa-paperclip"></i>
                        <input type="text" placeholder="Scrivi messaggio" v-model="myText" @keyup.enter="sendText">
                        <i class="fas fa-microphone"></i>
                    </div>
                </template>
                <div v-else class="unselcted">
                    <img src="img/empty.png">
                    <h2>Mantieni il telefono connesso</h2>
                    <span>Boolzapp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre il consumo dati collega il telefono ad una rete Wi-Fi.</span>
                </div>
            </div>
        </div>
    </body>
</html>
